* {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: 10%;
}

#result {
    color: red;
    font-size: 25px;
}

#label {
    font-size: 18px;
}